<html>
<head>
 <title>Form Survey</title>
</head>
<body>
 <h3>Form Survey</h3>
 <form action="/result" method="post">
 	<label for="name">Your name: </label>
 	<input type="text" name="name" placeholder="Your Name">

 	</br>
 	</br>

 	<label for="locations">Dojo Locations: </label>
 	<select name="locations" id="locations">
 		<option>Mountain View</option>
 		<option>San Jose</option>
 		<option>Los Angeles</option>
 	</select> 

 	</br>	
 	</br>

 	<label for="languages">Favorite Languages:</label>
 	<select name="languages" id="languages">
 		<option>Javascript</option>
 		<option>Php</option>
 		<option>Ruby</option>
 	</select> 

 	</br>	
 	</br>

 	<input type="submit" value="send">
 </form>
 <hr>

</body>
</html>