<html>
<head>
 <title>Result</title>
</head>
<body>
 <h3>Submited Information</h3>

<p><strong>Name:</strong></p><span><%= survey.name  %></span>
<p><strong>Location:</strong></p><span><%= survey.locations  %></span>
<p><strong>Favorite Language:</strong></p><span><%= survey.languages  %></span>

</body>
</html>