<!DOCTYPE html>
<html>
<head>
	<title>Animal | <%= animal.name %></title>
</head>
<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Bootstrap Javascript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">

<body>
	<div id="sidebar">
		<img src="/img/mongoose-profile.jpg" alt="Mongoose Icon" width="160" id="profile">

			<h3>Say Hello to </h3>
			<h3><%= animal.name %></h3>
	
	</div>
	<div id="info">
		<p><%= animal.name  %></p>
	</div>
</body>
</html>
		