<!DOCTYPE html>
<html>
<head>
	<title>Quoating Dojo</title>
</head>
<body>
	<h1>Welcome to QuoatingDojo</h1>
	<form action="/process" method="post">
		<label for="name">Your Name: </label>
		<input type="text" name="name" id="name">
		<br>
		<br>
		<label for="quote">Your Quote:</label>
		<textarea name="quote" id="quote"></textarea>
		<br>
		<br>
		<input type="submit" value="Add your quote">
		<a href="/"><button>Skip to quotes</button></a>


	</form>

</body>
</html>