<!DOCTYPE html>
<html lang="en" ng-app = "myApp">
<head>
	<title>Lets get mean</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="controllers.js"></script>
<body>

<div ng-controller = "MyController">
<div>
	<h1>Authors Directory</h1>
	<label>Search</label>
	<input ng-model="query" placeholder="Search for authors" autofocus>

	<label>Sort by:
		<select ng-model="authorsOrder">
			<option value="name">Name</option>
		</select>
	</label>
</div>
	<ul>
		<li ng-repeat="item in authors | filter: query | orderBy: authorsOrder">
			<h3>{{item.name}}</h3>
			<p>{{item.title + ", " + item.company}}</p>

		</li>
	</ul>
</div>
</body>
</html>